* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "industrial";
  src: url("../asset/font/IND736N.ttf") format("truetype");
}

/* ----- NAVIGATION -----  */

/* ----- LARGE NAV ----- */

#largeNav {
  position: fixed;
  width: 100%;
  height: 220px;
  background: #17152a;
  z-index: 100;
  transition: 0.8s ease-in-out;
}
#largeNavTop {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#largeNavTop img {
  width: 60px;
  height: 60px;
}
#largeNavTop p {
  color: #fff;
  margin-top: 10px;
  font-family: "industrial", serif;
}
#largeNavBottom {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dfc173;
  border-bottom: 1px solid #dfc173;
}
#largeNavBottom ul {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#largeNavBottom a,
#smallNavBottom a {
  color: #dfc173;
  font-family: "Poppins", sans-serif;
}

/* ----- SMALL NAV ----- */

#smallNav {
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #17152a;
  z-index: 100;
  transition: 0.8s ease-in-out;
}
.smallNavHidden {
  transform: translateX(-300px);
}
.smallNavShow {
  transform: translateX(0);
}
#burgerMenu {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 15px;
  background: #17152a7e;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}
#burgerMenu i {
  display: block;
  font-size: 2em;
  color: #fff;
}
#smallNavTop {
  margin-top: 50px;
  width: 100%;
  color: #fff;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dfc173;
}
#smallNavTop img {
  width: 80px;
  height: 80px;
}
#smallNavTop p {
  margin-top: 10px;
  font-family: "industrial", serif;
}
#smallNavBottom {
  border-bottom: 1px solid #dfc173;
}
#smallNavBottom ul {
  margin: 50px 0;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ----- SCROLL TO TOP -----  */

#scrollToTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}
#scrollToTop i {
  display: block;
  font-size: 2em;
  color: #fff;
}

/* ----- ANIMATIONS -----  */

/* ----- NAVIGATION ANIMATION ----- */

.navActive {
  position: relative;
}
.navActive::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: inherit;
}
#burgerMenu:hover,
#scrollToTop:hover {
  cursor: pointer;
  transform: scale(0.95);
  background: #17152a;
}
.navSlideOut {
  transform: translateY(-160px);
}
#largeNav li:hover,
#smallNav li:hover {
  transform: scale(0.95);
  transition: 0.3s ease;
}
#largeNav a:hover,
#smallNav a:hover {
  color: #fff;
  transform: scale(0.95);
  transition: 0.3s ease;
}

/* ----- SCROLL TO TOP ANIMATION ----- */

.scrollToTopHidden {
  transform: translateY(200%);
}
.scrollToTopshow {
  transform: translateY(0);
}

/* -- ------------- SECTION HEADER ---------------- -- */

section.header {
  background-image: url(../asset/img/header-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

section.header div.border {
  margin: 0 200px;
  border-left: 1px solid #dfc173;
  border-right: 1px solid #dfc173;
  height: 100vh;
}

section.header div.border p:nth-of-type(1) {
  padding-top: 320px;
  color: #dfc173;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

section.header div.border p:nth-of-type(2) {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 80px;
}

section.header div.border div.title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.header div.border div.title div.ligne {
  height: 1px;
  background-color: #dfc173;
  width: 100px;
}

section.header div.border div.title h1 {
  font-size: 80px;
  color: white;
  font-family: "industrial";
  font-weight: lighter;
  padding: 0 50px;
}

section.header div.border a {
  color: white;
  padding: 15px 50px;
  transition: all 0.6s ease-in-out;
  border: #eedaa8 2px solid;
}

section.header div.border a:hover {
  padding: 15px 30px;
}

section.header div.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 85px;
  bottom: 150px;
}

section.header div.social a i {
  color: white;
  font-size: 25px;
  padding: 10px 0;
  transition: all 0.5s;
}

section.header div.social a i:hover {
  color: #dfc173;
}

/* -- ------ SECTION PRESENTATION ------ -- */

section.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 0 150px 0;
}

/* IMG */

section.presentation figure {
  width: 50%;
  position: relative;
}

section.presentation figure::after {
  content: url(../asset/img/pattern-presentation.png);
  position: absolute;
  top: 80px;
  right: -80px;
  z-index: -1;
}

section.presentation figure img {
  width: 100%;
}

/* TEXT */

section.presentation div.text {
  width: 50%;
  text-align: right;
  margin: 0 200px 0 200px;
}

section.presentation div.text h2 {
  font-size: 48px;
  font-family: "industrial";
  color: #dfc173;
  font-weight: lighter;
}

section.presentation div.text div.sous-title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

section.presentation div.text div.sous-title div.ligne {
  background-color: #dfc173;
  height: 1px;
  width: 70%;
  margin-top: 10px;
}

section.presentation div.text div.sous-title p {
  color: #dfc173;
  font-weight: 500;
  width: 30%;
}

section.presentation div.text p {
  font-weight: 200;
  font-size: 16px;
}

section.presentation div.text p:nth-of-type(2) {
  margin-bottom: 50px;
}

section.presentation div.text a {
  border: #dfc173 1px solid;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
}

/* -- ---------- SECTION CARROUSEL -------------- -- */

section.carrousel {
  /* margin: 250px 0 100px 0; */
  width: 100%;
  overflow-x: hidden;
}

#slider {
  position: relative;
  width: 100%;
  margin-top: 70px;
}

section.carrousel img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

section.carrousel img:hover {
  transform: scale(1.02);
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 0.2;
  position: absolute;
  font-size: 50px;
  color: white;
  background-color: rgba(95, 89, 80, 0.37);
  padding: 0 10px;
  border-radius: 3px;
}

#precedent {
  top: 50%;
  left: 30px;
  transition: ease-in-out 0.3s;
}

#suivant {
  top: 50%;
  right: 30px;
  transition: ease-in-out 0.3s;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

#precedent:hover,
#suivant:hover {
  background-color: rgba(107, 100, 87, 0.616);
}

/* -- ---------- SECTION SERVICES -------------- -- */

.services,
.secteurs {
  display: block;
}

.servicesTitle,
.maison_titre_page {
  display: flex;
  justify-content: center;
  width: 80%;
  height: min-content;
  align-items: center;
  position: relative;
  padding-top: 50px;
  margin: auto;
}
.maison_titre_page {
  padding-bottom: 70px;
}
.servicesTraitG,
.servicesTraitD,
.maison_traitG,
.maison_traitD {
  height: 1px;
  width: 30%;
  background-color: #dfc173;
  align-self: center;
}

.servicesH2,
.secteursH2,
.maison_h1 {
  margin: 50px 20px;
  font-size: 48px;
  font-weight: lighter;
  color: #dfc173;
  font-family: "industrial";
}

.secteursH2 {
  margin: 50px 20px 50px 0;
}

.servicesH2 {
  text-align: center;
}

.servicesBG {
  display: flex;
  height: min-content;
  min-height: 500px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 70px;
}

.servicesBG {
  background-image: url(../asset/img/bg-marbre.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.servicesSquaresZoom {
  width: 270px;
  height: 260px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.servicesSquareCont {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.servicesSquares {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.servicesSquares_front {
  width: 100%;
  height: 100%;
  transform: rotateX(0deg);
  background-color: white;
}

.servicesSquares_front img {
  max-width: 30%;
  height: auto;
  position: relative;
  padding: 30px 0 10px 0;
}

.servicesSquares_front h3 {
  position: relative;
  font-family: "industrial";
  font-size: 24px;
  color: #dfc173;
}

.servicesSquares_front p {
  position: relative;
  font-size: 16px;
  margin: 10px 20px 20px;
}

/*zoom et rotation cartess*/

.servicesSquaresZoom:hover {
  transform: scale(1.01);
  box-shadow: #dfc173 0px 1px 4px, #dfc173 0px 0px 0px 3px;
}

/*fin zoom et rotation*/

.servicesSquares_back {
  transform: rotateY(180deg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  height: 100%;
}

.servicesSquares_back p {
  padding: 20px;
}

.servicesSquares_front,
.servicesSquares_back {
  backface-visibility: hidden;
}

.servicesSquares.flip {
  transform: rotateY(180deg);
}

/* -- ---------- SECTION SECTEUR -------------- -- */

section.secteurs {
  margin: 100px 200px 150px;
}

.secteursTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: min-content;
  position: relative;
  /* padding-top: 50px; */
}

.secteursTraitD {
  height: 1px;
  width: 50%;
  margin-top: 15px;
  background-color: #dfc173;
}

.secteurs p {
  align-self: flex-start;
  font-size: 16px;
  display: block;
}

.secteursPres {
  height: min-content;
  position: relative;
  padding: 20px 0;
  width: 80%;
}

.secteursContGlob {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: min-content;
  position: relative;
  margin: 30px 0;
}

.secteursCont {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.secteursCard {
  width: 30%;
  background-color: #f9f7ef;
  transition: 0.5s ease-in-out;
}

.secteursCard:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform: scale(1.005);
}

.secteursPhoto img {
  width: 100%;
  cursor: pointer;
}

section.secteurs
  div.secteursContGlob
  div.secteursCont
  div.secteursCard
  div.text {
  padding: 20px;
  height: 250px;
}

.secteursCardTitle {
  font-family: "industrial", serif;
  color: #dfc173;
  font-size: 24px;
  margin-bottom: 10px;
}

.secteursCardTitle h3 {
  font-weight: lighter;
}

.secteursCardTxt {
  height: 40%;
}

/* -- ------ FOOTER ------ -- */

footer {
  width: 100%;
  background: #17152a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: white;
}

#footerTop {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "industrial", serif;
  font-size: 20px;
}

#footerTop img {
  width: 80px;
}

.footerLine {
  height: 1px;
  width: 150px;
  background: white;
  margin: 15px 0;
}

#footerBottom {
  width: 80%;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid#dfc173;
  border-bottom: 1px solid#dfc173;
}

.aboutUs,
.footerContact,
.location,
.footerSocial {
  width: 300px;
  height: 300px;
}

.aboutUs h4,
.footerContact h4,
.location h4,
.footerSocial h4 {
  margin: 20px 0;
}

.footerSocial h4 {
  text-align: center;
}

.aboutUs li,
.footerContact li,
.location li,
.footerSocial li {
  margin: 20px 0;
  font-weight: lighter;
}

.aboutUs li:hover,
.footerContact li:hover,
.location li:hover,
.footerSocial li:hover {
  font-weight: normal;
}

.socialList {
  display: flex;
  justify-content: space-evenly;
}

.socialList a i {
  color: white;
  font-size: 25px;
  padding: 10px 0;
  transition: all 0.5s;
}

.socialList a i:hover {
  color: #dfc173;
}

.legal {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -- --------------------------------------- PAGE CONTACT ----------------------------*/

/* -- ---- SECTION HEADER-CONTACT ---- -- */

section.header-contact img {
  width: 100%;
  position: relative;
  top: 220px;
  margin-bottom: 225px;
}

/* -- ---- SECTION CONTACT ---- -- */

section.contact {
  background-color: #fff9f5;
  padding: 100px 200px;
  border-top: #dfc173 1px solid;
  border-bottom: #dfc173 1px solid;
}

section.contact div.text {
  margin-bottom: 50px;
}

section.contact div.text p {
  color: #dfc173;
  font-family: "industrial", serif;
  font-weight: lighter;
  font-size: 48px;
}

section.contact div.text p:nth-of-type(3) {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 0 50px 0;
}
section.contact div.text hr {
  border: none;
  background-color: #dfc173;
  height: 1px;
  width: 20%;
}

section.contact div.container {
  display: flex;
  justify-content: space-between;
}

section.contact div.container div.content {
  width: 30%;
  background-color: white;
  height: 200px;
  padding: 30px;
  border: #dfc173 1px solid;
  transition: all 0.5s ease-in-out;
}

section.contact div.container div.content:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
section.contact div.container div.content:hover hr {
  width: 40%;
}

section.contact div.container div.content p:nth-of-type(1) {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

section.contact div.container div.content hr {
  border: none;
  background-color: black;
  height: 4px;
  width: 15%;
  transition: all 0.5s ease-in-out;
}

section.contact div.container div.content p:nth-of-type(2) {
  margin-top: 50px;
}

/* -- ----- SECTION AGENTS ------ -- */

section.agents {
  margin: 100px 200px;
}

section.agents div.content-2 {
  margin-bottom: 100px;
  padding: 50px;
  border: #dfc173 1px solid;
  display: flex;
  align-items: center;
}

section.agents div.content-2 figure {
  width: 50%;
  position: relative;
}
section.agents div.content-2 figure img {
  margin: 0 auto;
  display: block;
  border: #dfc173 1px solid;
  border-radius: 500px;
  padding: 50px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

section.agents div.content-2 figure.zen::after {
  position: absolute;
  content: url(../asset/img/zen.png);
  right: 200px;
  top: 20px;
}
section.agents div.content-2 figure.zen::before {
  position: absolute;
  content: url(../asset/img/verre.png);
  bottom: 50px;
  left: 150px;
  z-index: 1;
}

section.agents div.content-2 figure.fleur::after {
  position: absolute;
  content: url(../asset/img/fleurs-1.png);
  right: 200px;
  top: 40px;
}
section.agents div.content-2 figure.fleur::before {
  position: absolute;
  content: url(../asset/img/sourire.png);
  bottom: 20px;
  left: 300px;
  z-index: 1;
}

section.agents div.content-2 figure.actif::after {
  position: absolute;
  content: url(../asset/img/appareil-photo.png);
  right: 130px;
  bottom: 10px;
}
section.agents div.content-2 figure.actif::before {
  position: absolute;
  content: url(../asset/img/superactive.png);
  top: 20px;
  left: 200px;
  z-index: 1;
}

section.agents div.content-2 figure img:hover {
  transform: scale(1.02) rotate(2deg);
}
section.agents div.content-2 div.text-2 {
  width: 50%;
}

section.agents div.content-2 div.text-2 p:nth-of-type(1) {
  font-family: "industrial";
  font-size: 48px;
  font-weight: lighter;
  color: #dfc173;
}

section.agents div.content-2 div.text-2 p:nth-of-type(2) {
  font-family: "industrial";
  font-size: 48px;
  font-weight: lighter;
  color: #dfc173;
  margin-bottom: 50px;
}

section.agents div.content-2 div.text-2 p:nth-of-type(3) {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
section.agents div.content-2 div.text-2 p:nth-of-type(4) {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}

.lien a {
  border: #dfc173 1px solid;
  padding: 10px 30px;
  color: black;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.lien a:hover {
  padding: 10px 20px;
}

.right {
  text-align: right;
}

/* -- --------------------------------------- PAGE SECTEURS ----------------------------*/

.secteurNav {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  margin-bottom: 100px;
  align-items: center;
  border-top: 1px solid #dfc173;
  border-bottom: 1px solid #dfc173;
}
.secteurNav h3 {
  cursor: pointer;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #dfc173;
  font-size: 20px;
  letter-spacing: 2px;
}
.secteurCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
main {
  width: 80%;
  display: flex;
  justify-content: center;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn:hover {
  text-decoration: underline;
  background: #17152a1c;
}
.btn.active {
  text-decoration: underline;
}
.secteurMaisonCadrePrinc {
  width: 500px;
  height: 100%;
  background-color: white;
  margin: 20px 20px;
  position: relative;
  color: black;
  display: none;
}
.show {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: #17152a;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  z-index: 1;
}
.overlay span {
  font-size: 18px;
  border: 1px solid white;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
}
.overlay a {
  text-decoration: none;
}
.secteurMaisonCadrePrinc:hover .overlay {
  opacity: 0.9;
}

.secteurMaisonCadrePrinc:hover .secteurContImage img {
  transform: scale(1.1);
  transition: 0.5s;
}

.secteurCadreImage {
  width: 100%;
  height: 80%;
}

.secteurContImage {
  width: 100%;
  max-height: 280px;
  overflow: hidden;
}

.secteurContImage img {
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.SecteurTexte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  border: 1px solid #dfc173;
  padding: 10px;
}
.contLieuPrix {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  border-right: #dfc173 1px solid;
}
.lieu {
  font-family: "industrial", serif;
  color: #dfc173;
  font-size: 22px;
}
.type {
  width: 40%;
  text-align: start;
  padding-left: 10px;
}
.hiddenContainer {
  width: 90%;
  height: 90%;
  justify-content: center;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  display: none;
  margin: 0 5%;
  border: 1px solid #dfc173;
}
.hiddenContainer img {
  width: 25%;
  margin: 20px;
}

/* ----- MEDIA ----- */

@media screen and (max-width: 1625px) {
  /* ----- SECTION PRESENTATION ------ */
  section.presentation figure::after {
    top: 20px;
  }
}

@media screen and (max-width: 1300px) {
  /* ---- HEADER ---- */
  section.header div.border {
    margin: 0 100px;
  }
  section.header div.social {
    right: 35px;
  }

  /* ---- SECTION PRESENTATION ----- */
  section.presentation figure::after {
    top: -90px;
  }
  section.presentation div.text {
    margin: 0 100px 0 150px;
  }

  /* ----- SECTION SECTEURS ----- */
  section.secteurs {
    margin: 100px 100px;
  }

  section.secteurs
    div.secteursContGlob
    div.secteursCont
    div.secteursCard
    div.text {
    height: 280px;
  }

  .secteursTraitD {
    display: none;
  }

  .secteursH2 {
    margin: 0 auto 50px;
  }

  .secteursPres {
    margin: 20px auto;
    text-align: center;
  }

  .secteurs p {
    align-self: inherit;
  }

  /* ----- FOOTER ----- */

  #footerBottom {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }

  .aboutUs,
  .footerContact,
  .location,
  .footerSocial {
    height: fit-content;
    margin: 20px;
  }

  .legal {
    justify-content: center;
  }

  .legalLeft {
    display: none;
  }

  /* -- ----- SECTION CONTACT ----- -- */
  section.contact {
    padding: 100px;
  }

  /*-- ----- SECTION AGENTS ----- -- */
  section.agents {
    margin: 100px;
  }
  section.agents div.content-2 figure.zen::after {
    right: 100px;
  }
  section.agents div.content-2 figure.zen::before {
    left: 70px;
  }
  section.agents div.content-2 figure.fleur::after {
    right: 100px;
  }
  section.agents div.content-2 figure.fleur::before {
    left: 150px;
  }
  section.agents div.content-2 figure.actif::after {
    right: 30px;
  }
  section.agents div.content-2 figure.actif::before {
    left: 100px;
  }
}

@media screen and (max-width: 1024px) {
  /* ---- SECTION PRESENTATION ---- */
  section.presentation {
    flex-direction: column;
    margin: 100px 50px;
  }
  section.presentation figure {
    width: 100%;
    margin-bottom: 50px;
  }
  section.presentation figure::after {
    display: none;
  }
  section.presentation div.text {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  section.presentation div.text div.sous-title {
    flex-direction: column;
    align-items: flex-start;
  }
  section.presentation div.text div.sous-title div.ligne {
    width: 100%;
    margin-bottom: 20px;
  }
  section.presentation div.text div.sous-title p {
    width: 100%;
  }

  /* ----- SECTION SERVICE ET SECTEUR ----- */

  .servicesSquareCont {
    width: 95%;
    justify-content: center;
  }
  .services,
  .secteurs {
    height: min-content;
    align-items: center;
  }

  .secteursCard {
    width: 80%;
    margin: 50px 0;
  }

  .secteursCont {
    flex-direction: column;
  }

  section.secteurs
    div.secteursContGlob
    div.secteursCont
    div.secteursCard
    div.text {
    height: 220px;
  }

  /* -- ----- AGENTS ----- -- */

  section.agents div.content-2 {
    flex-direction: column;
  }
  section.agents div.content-2.inverse {
    flex-direction: column-reverse;
  }
  section.agents div.content-2 figure {
    width: 100%;
    margin-bottom: 100px;
  }
  section.agents div.content-2 div.text-2 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  /* ----- LARGE NAV ----- */
  #largeNav {
    display: none;
  }

  /* ----- SMALL NAV ----- */
  #burgerMenu {
    display: flex;
  }

  /* ----- SCROLL TO TOP ------ */
  #scrollToTop {
    width: 50px;
    height: 50px;
  }

  /* ---- SECTION HEADER ---- */
  section.header div.border p:nth-of-type(1) {
    padding-top: 150px;
  }
  section.header div.border div.title h1 {
    font-size: 60px;
    padding: 0 10px;
  }
  section.carrousel img {
    height: 400px;
    object-fit: cover;
  }
  /* ----- PAGE CONTACT ----- */
  section.header-contact img {
    top: 0;
    margin-bottom: 80px;
  }
  /* -- ----- PAGE CONTACT ----- -- */

  section.contact {
    padding: 100px 50px;
  }

  section.contact div.container {
    flex-direction: column;
  }
  section.contact div.container div.content {
    width: 100%;
    margin-bottom: 50px;
  }

  /* -- ------ SECTION AGENTS ------ -- */

  section.agents {
    margin: 100px 50px;
  }

  section.agents div.content-2 figure img {
    width: 100%;
    margin: 0 auto;
  }

  /* ----- PAGE SECTEURS ----- */
  .secteurNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
  }
  .secteurNav h3 {
    width: 100%;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  section.presentation div.text h2,
  .servicesH2,
  .secteursH2 {
    font-size: 36px;
  }
  /*-- ----- SECTION HEADER ----- -- */
  section.header div.border {
    margin: 0 50px;
  }
  section.header div.social {
    display: none;
  }
  /*-- ----- SECTION SECTEURS SERVCES ---- -- */
  section.secteurs {
    margin: 100px 50px;
  }
  .secteursCard {
    width: 100%;
    margin: 50px 0;
  }
  /*-- ---- SECTION CARROUSEL ---- -- */
  #slider {
    margin-top: 20px;
  }
  section.presentation {
    margin: 100px 50px 0 50px;
  }
  /* -- ----- SECTION CONTACT ------ -- */

  section.contact {
    padding: 80px 20px;
  }

  section.contact div.text p {
    font-size: 36px;
  }

  /* -- ----- SECTION AGENTS ----- -- */

  section.agents {
    margin: 80px 20px;
  }

  section.agents div.content-2 {
    padding: 50px 20px;
  }

  section.agents div.content-2 figure.zen::after {
    right: 20px;
  }

  section.agents div.content-2 figure.zen::before {
    left: 20px;
  }

  section.agents div.content-2 figure.fleur::after {
    right: 20px;
  }

  section.agents div.content-2 figure.fleur::before {
    left: 20px;
  }

  section.agents div.content-2 figure.actif::after {
    right: 0;
  }

  section.agents div.content-2 figure.actif::before {
    left: 20px;
  }

  section.agents div.content-2 div.text-2 p:nth-of-type(1) {
    font-size: 36px;
  }

  section.agents div.content-2 div.text-2 p:nth-of-type(2) {
    font-size: 36px;
  }
}

@media screen and (max-width: 490px) {
  section.presentation figure::after {
    display: none;
  }
}
